.puppyBtn {
    margin: 3px;
}

.title {
    font-weight: bold;
}

#results {
    margin-top: 10%;
}

h3 {
    color: gray;
}

@media screen and (max-width: 1200px) {
    #results {
        margin-top: 15%;
    }
}

@media screen and (max-width: 750px) {
    #results {
        margin-top: 20%;
    }
}

@media screen and (max-width: 575px) {
    #results {
        margin-top: 30%;
    }
}

@media screen and (max-width: 425px) {
    #results {
        margin-top: 35%;
    }
}